TabPane:focused {
  -fx-focus-color: transparent; 
}

TabPane .tab {
  -fx-background-insets: 0 1 0 1,0,0;
  -fx-pref-height: 42.5px;
  -fx-pref-width: 80px;
  
  -fx-background-color: -fx-color-background;
  -fx-border-color: -fx-color-element-bg;
  -fx-border-width: 2px 2px 0 2px;
  -fx-border-radius: 4deg;
}

TabPane #addTab {
  -fx-pref-width: 42.5px;
}

TabPane .tab .tab-label {
  -fx-alignment: CENTER;
  -fx-font-size: 14px;
  -fx-text-fill: -fx-color-text;
  -fx-padding: 0 1em 0 0; /* right padding for the close button */
  -fx-pref-width: 70px;
  -fx-max-width: 70px;
}

TabPane #homeTab .tab-label,
TabPane #addTab .tab-label {
  -fx-padding: 0; /* No padding for home and add tabs */
}

TabPane #addTab .tab-label {
  -fx-pref-width: 30px;
}

TabPane .tab:selected {
  -fx-text-fill: -fx-color-background;
  -fx-background-color: -fx-color-green;
  -fx-border-width: 0;
}

TabPane .tab:selected .tab-label {
  -fx-text-fill: -fx-color-background;
}

TabPane .tab .tab-close-button {
  -fx-background-color: -fx-color-text;
}

TabPane .tab:selected .tab-close-button {
  -fx-background-color: -fx-color-background;
}

TabPane .tab .tab-close-button:hover,
TabPane .tab:selected .tab-close-button:hover {
  -fx-background-color: -fx-color-red;
}

TabPane:top *.tab-header-area {
  -fx-background-insets: 0, 0 0 1 0;
  -fx-padding: .75em .75em 0 .75em;
  -fx-spacing: 8px;
}

TabPane .tab-header-background {
  -fx-background-color: -fx-color-background;
  -fx-border-color: -fx-color-element-bg;
  -fx-border-width: 0 0 2px 0;
}