/* https://gist.github.com/maxd/63691840fc372f22f470 */

/* FONT */

.label,
.text-area,
.text-field,
.button,
.check-box {
  -fx-font-family: "Roboto Regular";
  -fx-text-fill: white;
  -fx-text-inner-color: white;
}

.label,
.text-area,
.button {
  -fx-font-size: 18px;
}

.title {
  -fx-font-family: "Charm Bold";
  -fx-font-size: 48px;
}

.bold {
  -fx-font-family: "Roboto Bold";
  -fx-font-size: 18px;
}

.bold-italic {
  -fx-font-family: "Roboto Bold Italic";
  -fx-font-size: 18px;
}

.italic {
  -fx-font-family: "Roboto Italic";
  -fx-font-size: 18px;
}

.sz14 {
  -fx-font-size: 14px;
}

.sz24 {
  -fx-font-size: 24px;
}

.sz36 {
  -fx-font-size: 36px;
}

.green-text {
  -fx-text-fill: #0aba4d;
}

.light-grey-text {
  -fx-text-fill: #a7acb1;
}

/* DEFAULT COMPONENTS STYLING */

.body {
  -fx-background-color: #202428;
}

.text-field {
  -fx-background-color: #2e3136;
  -fx-border-color: #a7acb1;
  -fx-border-radius: 3deg;
}

.text-area {
  -fx-control-inner-background: #303434;
  -fx-border-color: #a7acb1;
  -fx-border-radius: 4deg;
}

/* Styling the ScrollBar in TextArea */
.text-area .scroll-bar {
  -fx-background-color: #303434;
}

/* The thumb (the moving part of the scrollbar) */
.text-area .scroll-bar .thumb {
  -fx-background-color: #a7acb1;
  -fx-background-radius: 5px;
}

/* The increment and decrement buttons */
.text-area .scroll-bar .increment-button,
.text-area .scroll-bar .decrement-button {
    -fx-background-color: #2e3136;
    -fx-padding: 2px;
}

/* The increment and decrement arrows */
.text-area .scroll-bar .increment-arrow,
.text-area .scroll-bar .decrement-arrow {
    -fx-background-color: #a7acb1;
}

/* The track of the scroll bar */
.text-area .scroll-bar .track {
    -fx-background-color: #2e3136;
}

.check-box>.box {
  /* background color of unselected checkbox */
  -fx-background-color: #2e3136;
  -fx-border-color: #a7acb1;
  -fx-border-radius: 4deg;
}
.check-box:selected>.box>.mark {
  /* modify mark color */
  -fx-background-color: #a7acb1;
}

.combo-box {
  -fx-background-color: #2e3136;
  -fx-border-color: #a7acb1;
  -fx-border-radius: 3deg;
}
.combo-box>.list-cell {
  -fx-text-fill: white;
}
.combo-box-popup>.list-view {
  -fx-background-color: #2e3136;
  -fx-border-color: #a7acb1;
  -fx-border-radius: 4deg;
}
.combo-box-popup>.list-view>.virtual-flow>.clipped-container>.sheet>.list-cell {
  -fx-background-color: #2e3136;
  -fx-text-fill: white;
  -fx-border-radius: 4deg;
}
.combo-box-popup>.list-view>.virtual-flow>.clipped-container>.sheet>.list-cell:filled:hover,
.combo-box-popup>.list-view>.virtual-flow>.clipped-container>.sheet>.list-cell:filled:selected {
  -fx-background-color: #202428;
  -fx-border-radius: 4deg;
}

.progress-bar>.bar {
  -fx-background-color: linear-gradient(to right, #f00, #ff0, #0f0);
}
.progress-bar>.track {
  -fx-background-color: transparent;
}

/*  CUSTOM */

.sidebar-button {
  -fx-background-color: #202428;
  -fx-background-radius: 8deg;
}

.decrypt-button {
  -fx-background-color: #a7acb1;
  -fx-background-radius: 8deg;
}

.readable-password-field > * {
  -fx-background-color: #2e3136;
  -fx-border-color: #a7acb1;
  -fx-border-radius: 3deg;
  -fx-text-inner-color: white;
  -fx-font-size: 10px;

}

.green-button {
  -fx-text-inner-color: white;
  -fx-background-color: none;
  -fx-border-color: #0aba4d;
  -fx-border-width: 3px;
  -fx-border-radius: 8deg;
}

.eula-text:hover {
  -fx-underline: true;
}