.custom-popup {
    -fx-background-color: -fx-color-background;
    -fx-background-radius: 5deg;

    -fx-border-width: 2px;
    -fx-border-color: -fx-color-grey;
    -fx-border-radius: 5deg;

    -fx-font-family: "Roboto";
    -fx-font-size: 14px;
    -fx-text-fill: -fx-color-text;
}

.custom-popup #bottomBar {
    -fx-border-width: 0px;
    -fx-background-color: -fx-color-element-bg;
}