/* https://gist.github.com/maxd/63691840fc372f22f470 */

/* COMPONENTS */

AnchorPane,
BorderPane,
StackPane,
GridPane {
  -fx-background-color: -fx-color-background;
}

TextField,
PasswordField {
  -fx-font-size: 14px;
  -fx-background-color: -fx-color-element-bg;
  -fx-border-color: -fx-color-grey;
  -fx-border-radius: 3deg;
}

Button {
  -fx-background-color: transparent;
  -fx-background-radius: 8deg;
}

Button:focused {
  -fx-focus-color: transparent;
}

CheckBox .box {
  -fx-background-color: -fx-color-element-bg;
  -fx-border-color: -fx-color-grey;
  -fx-border-radius: 4deg;
}
CheckBox .box .mark {
  /* color of unselected mark */
  -fx-background-color: -fx-color-element-bg;
}
CheckBox:selected .box .mark {
  /* color of selected mark */
  -fx-background-color: -fx-color-grey;
}

Separator .line {
  -fx-background-color: -fx-color-element-bg;
  -fx-pref-height: 2px;
  -fx-border-color: null;
}

/* CLASSES */

.titlebar {
  -fx-background-color: -fx-color-green;
}

.navbar {
  -fx-border-color: -fx-color-element-bg;
  -fx-border-width: 0 2px 0 0;
}

.green-button {
  -fx-text-inner-color: -fx-color-text;
  -fx-background-color: none;
  -fx-border-color: -fx-color-green;
  -fx-border-width: 3px;
  -fx-border-radius: 8deg;
}

.editor-button {
  -fx-background-color: -fx-color-grey;
  -fx-background-radius: 8deg;
}

.firstrun-link:hover {
  -fx-underline: true;
}